
p.boxmodel{
    border: 2px solid cyan;
    margin: auto auto;
    padding: 50px;
    
    text-align: center;
    vertical-align: middle;
    width: 50%;
    outline: darkgreen solid 5px;
    outline-offset: 5px;
    

}
#importante{
    color: aqua;
}